<div class="container mt-4 mb-4">
    <form method="post" action="/create_product">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" placeholder="Enter name" name="image">
        </div>
        <div class="form-group">
            <label for="sex">Sex</label>
            <input type="text" class="form-control" id="sex" placeholder="Enter male or female" name="sex">
        </div>
        <button type="submit" class="btn btn-primary">Create Product</button>
    </form>
</div>